body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 173, 239);
    font-size: 36px;
    overflow: hidden;
}



.timer-section {
    background-color: rgba(255, 255, 255, 0.247);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    width: 35rem;
}

.timer-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.477);
    padding: 1rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.timer-buttons {
    display: flex;
    flex-direction: column;
}

.timer-buttons button {
    margin: 0.1rem 0.3rem;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons {

}

.buttons button {
    margin: 0 0.2em 0 0.2rem;
    background-color: rgba(137, 43, 226, 0.375);
    border: none;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    border-radius: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.streak-section {
    background-color: rgba(255, 255, 255, 0.247);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    width: 35rem;
    font-size: 1.6rem;
}

.modal {
    position: absolute;
    width: 101vw;
    height: 101vh;
    background-color: rgba(0, 0, 0, 0.375);
    margin-top: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.hidden {
    visibility: hidden;
}

.modal header {
    width: 95vw;
    display: flex;
    justify-content: end;
}

.modal header button {
    border: none;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.549);
    color: rgb(60, 60, 60);
}

.modal-container {
    background-color: rgba(255, 255, 255, 0.247);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    width: 35rem;
    font-size: 1.6rem;
}

.modal iframe {
    
    aspect-ratio: 16/9;
    width: 28rem;
    height: auto;
}